body{
    color:#000000;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding:16px;
    display:flex;
    flex-direction: column;
    min-height: 50;  
    background: url(/img/road.jpg) no-repeat;
    background-size:100% 180%;
    height:1200;
}
#weatherpic{
    height:100px;
    width:100px;
    align-content: center;
}

.main-content{
flex-grow:1;
}
footer{
    color: #eeeeee;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
header{
    margin-top:20px;
    margin-bottom: 40px;
}
h2{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace'
}
header a{
    color:rgb(226, 78, 78);
    margin-right:20px;
    font-size: 30px;
    text-decoration: none;
}
#myimg{
    width: 100px;
    height:100px;
}
input{
    border: 1px solid #888888;
    padding:8px;
}
button{
    cursor: pointer;
    border: 1px solid #cccccc;
    background:#cccccc;
    color: aliceblue;
    padding: 8px;
}