<header>
<div>
    <a href="/index">Weather</a>
    <a href="/about">About</a>
    <a href="/help">help</a>
    <a href="/weather?address=bhimtal">Your location</a>
</div>
<h4>{{name}}  {{place}}</h4>
</header>
{{!-- <img src="../views/pic.jpg" width="200px" height="200"> --}}