<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
            {{!-- <script src="js/js.js"></script> --}}
<link rel="stylesheet" href="css/style.css">
    </head>
    <body><div class="main-content">
        {{>header}}
        <img id="myimg"src="/img/pic.jpg" width="200px" height="200px">
        <h2>Welcome to Express! created by {{name}}  {{place}}</h2>
        </div>
        {{>footer}}
    </body>
</html>