<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
            {{!-- <script src="js/js.js"></script> --}}
<link rel="stylesheet" href="css/style.css">
    </head>v>
    <body><div class="main-content">
       
        {{>header}}
        <img id="myimg"src="/img/pic.jpg" width="100px" height="100px">
        <h3>Welcome to Global Weather! created with Node JS</h3>
        <p>It takes help of Darksky and Mapbox for exploring the data</p>
        </div>
        {{>footer}}
    </body>
</html>