<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
            {{!-- <script src="js/js.js"></script> --}}
<link rel="stylesheet" href="/css/style.css"></link>
    </head>
    <body><div class="main-content">
          {{>header}}
        <h3>{{name}} from {{place}}</h3>
        </div>
        {{>footer}}
    </body>
</html>