<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
            {{!-- <script src="js/js.js"></script> --}}
<link rel="stylesheet" href="/css/style.css"></link>
    </head>
    <body><div class="main-content">
          {{>header}}
        </div>
        <h4>Help from Global Weather :</h4>
        <p>About Creater :-</p>
        <p>I am a student of final year B.Tech Computer Science and Engineering branch.I love to work with NodeJS and tries to create web based applications. </p>
        <h4>E-Mail : <a href="abhishek01sati@gmail.com">abhishek01sati@gmail.com</a></h4>
        {{>footer}}
    </body>
</html>