<!DOCTYPE html>
<html>
    <head>
        <title>weather</title>
        <link rel="icon" href="/img/weather.png">
        <link href="/css/style.css" type="text/css" rel="stylesheet" >
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img id="weatherpic" src="/img/weather.png" align="right">
        <h2>Welcome to Global Weather</h2><br>
        <form>
            <h3>Enter the Location :</h3>
            <input type="text" placeholder="Location" id="address">
            <input type="button" id="but" value="Search">
            <p id="p1"></p>
            <p id="p2"></p>
            <p id="p3"></p>
            <p id="p4"></p>
            <p id="p5"></p>
        </form>
        </div>
        {{>footer}}
    </body>
        <script src="/js/js.js"></script>
</html>